<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>德州扑克后台管理系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body onload='initPageInfo({*room_index_pager.curr_page*},{*room_index_pager.max_page*},"pager_index")'>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

	{(/html/part_html/header.html)}

<div class="am-cf admin-main">
  <!-- sidebar start -->
	{(/html/part_html/sidebar.html)}
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">客户端后台</strong> / <small>房间管理</small></div>
      </div>


      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"onclick="add_room()"><span class="am-icon-plus"></span> 新增</button>
            </div>
          </div>
        </div> 
		<div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" placeholder="房间名称" id="search_input" value="{*room_index_searchStr*}">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" onclick="getSearch()">搜索</button>
          </span>
          </div>
        </div>
      </div>
	  
	<div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <!-- <th class="table-check"><input type="checkbox" /></th> -->
				<th class="table-id">编号</th>
				<th class="table-title">房间名称</th>
				<!-- <th class="table-type">房间密码</th> -->
				
				<!-- <th class="table-author am-hide-sm-only">最大游戏人数</th> -->
				<th class="table-date am-hide-sm-only">准入门槛</th>
			
				<!-- <th class="table-date am-hide-sm-only">游戏类型</th> -->
				<th class="table-date am-hide-sm-only">房间状态</th>
				<th class="table-date am-hide-sm-only">房间类型</th>
				<th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
				{% for k,v in pairs(room_index_data) do%}
				<tr id="{*v.id_pk*}"> 
					 <td>{* k *}</input></td> 
					  <td>{*v.room_name*}</td>  
					  <!-- <td class="am-hide-sm-only">{*v.password*}</td> -->
					  <!-- <td class="am-hide-sm-only">{*v.limit_players*}</td>   -->
					  <td class="am-hide-sm-only">{*v.access_count*}</td>
					  <!-- <td class="am-hide-sm-only">{*v.game_type*}</td> -->
					 <td class="am-hide-sm-only">
					  {% if v.room_status==0 then %}
						房间关闭
					  {% elseif v.room_status==1 then  %}
						房间开启
					  {% end %}
					  </td>  
					  <td class="am-hide-sm-only">
					  {% if v.is_rel_room==0 then %}
						虚拟房间
					  {% elseif v.is_rel_room==1 then  %}
						真人房间
					  {% end %}
					  </td> 
					  <td>  
					    <div class="am-btn-toolbar">  
						  <div class="am-btn-group am-btn-group-xs">  
						   <div class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="link_room_chip(this)">
								<input type="hidden" value="{*v.id_pk*}"></input><span class="am-icon-copy"></span> 
								查看
							</div>  
						    <div class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="edit_room(this)">
								<input type="hidden" value="{*v.id_pk*}"></input><span class="am-icon-pencil-square-o"></span> 
								编辑
							</div>  
						    <div class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="delete_room(this)">
								<input type="hidden" value="{*v.id_pk*}"/><span class="am-icon-trash-o"></span> 
								删除
							</div>  
						  </div>  
					    </div>  
					  </td>  
				    </tr>  
			   {% end %}
              </tbody>
            </table>
            <div class="am-cf" id="pager_index">
              <!-- 共 15 条记录 -->
              <!-- <div class="am-fr"> -->
                <!-- <ul class="am-pagination"> -->
                  <!-- <li class="am-disabled"><a href="#">?</a></li> -->
                  <!-- <li class="am-active"><a href="#">1</a></li> -->
                  <!-- <li><a href="#">2</a></li> -->
                  <!-- <li><a href="#">3</a></li> -->
                  <!-- <li><a href="#">4</a></li> -->
                  <!-- <li><a href="#">5</a></li> -->
                  <!-- <li><a href="#">?</a></li> -->
                <!-- </ul> -->
              <!-- </div> -->
            </div> 
			
            <hr />
            <p>注：.....</p>
          </form>
        </div>

      </div>

	{(/html/part_html/foot.html)}
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/mycomment.js"></script>
<script>
	<!-- 根据房间字段搜素房间列表 模糊查询 -->
	function getSearch(){
		var sear=document.getElementById("search_input").value
			<!-- window.location.href="http://localhost/api/html/client_management/room/room_index?searchStr="+sear -->
			window.location.href=room_index_path()+"?searchStr="+sear
	}
 
	<!-- 跳转到房间自己的筹码管理界面 -->
	  function link_room_chip(obj){
	   var room_id=obj.getElementsByTagName("input")[0].value 
		<!-- window.location.href="http://localhost/api/html/client_management/room/room_chip_index?id_pk="+room_id -->
		window.location.href=room_chip_index_path()+"?id_pk="+room_id
	 }
 
 
	<!-- 跳转到添加房间界面 -->
	  function add_room(){
		<!-- window.location.href="http://localhost/api/html/client_management/room/room_add" -->
		window.location.href=room_add_path()
	 }
	<!-- 新建一个页面，看上去和新增页面很像，然后将数据带过去，修改后通过ajax提交 -->
	 function edit_room(obj){
	 var room_id=obj.getElementsByTagName("input")[0].value 
		 <!-- window.location.href="http://localhost/api/html/client_management/room/room_edit?id_pk="+room_id -->
		 window.location.href=room_edit_path()+"?id_pk="+room_id
	 }
	<!-- 删除对应的房间 -->
	 function delete_room(obj){
	 var room_id=obj.getElementsByTagName("input")[0].value 
			$.ajax({
			type:"post", 
			<!-- url:"http://localhost/api/anchor/delete_room",  -->
			url:room_delete_path(),
			 data:{ 
				"id_pk":room_id
				 },  
			cache:false,
			success:function(data,status){ 
				var dateJson = JSON.parse(data)	 
				 if(1==dateJson.code){ 
					 alert("删除成功！") 
					 window.location.reload();
				 }else{ 
					 alert("删除失败！")
				} 
			}
		 })
	 }
	  <!-- 分页的函数 -->
	function beginPostTestResult(page){
	var max_page={* room_index_pager.max_page *}
		<!-- window.location.href="http://localhost/api/html/client_management/room/room_index?page="+page -->
		window.location.href=room_index_path()+"?page="+page
		initPageInfo(page,max_page,"pager_index");
	}


</script>
</body>
</html>
