<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>德州扑克后台管理系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

	{(/html/part_html/header.html)}

<div class="am-cf admin-main">
  <!-- sidebar start -->
	{(/html/part_html/sidebar.html)}
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">渠道商后台</strong> / <small>奖金池管理</small></div>
      </div>


      <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default"onclick="opt_pool()">奖金池查看及操作</button>
            </div>
          </div>
        </div> 
          <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}" onchange="change_anchor_status()" id="anchor_status_select">
              <option value="option0">全部</option>
			  {% for k,v in pairs(game_type_data) do %}
              <option value="{*v.id_pk*}">{*v.game_name*}</option>
			 {% end %}
            </select>
          </div>
      </div>
	  
	<div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <!-- <th class="table-check"><input type="checkbox" /></th> -->
				<th class="table-id">编号</th>
				<th class="table-title">游戏类型</th>
				<th class="table-type">奖金池抽取金额</th>
				<th class="table-author am-hide-sm-only">时间</th>
              </thead>
              <tbody>
				{% for k,v in pairs(bonus_pool_index_data) do%}
				<tr id="{*v.id_pk*}"> 
					 <td>{* k *}</input></td> 
					  <td>{*v.game_name*}</td>  
					  <td class="am-hide-sm-only">{*v.opt_money*}</td>
					  <td class="am-hide-sm-only">{*v.update_time*}</td>  
					  <td>  
					    <div class="am-btn-toolbar">  
						  <div class="am-btn-group am-btn-group-xs">  
						    <div class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="edit_gift(this)">
								<input type="hidden" value="{*v.id_pk*}"></input><span class="am-icon-pencil-square-o"></span> 
								编辑
							</div>  
						    <div class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="delete_gift(this)">
								<input type="hidden" value="{*v.id_pk*}"/><span class="am-icon-pencil-square-o"></span><span class="am-icon-trash-o"></span> 
								删除
							</div>  
						  </div>  
					    </div>  
					  </td>  
				    </tr>  
			   {% end %}
              </tbody>
            </table>
            <div class="am-cf">
              共 15 条记录
              <div class="am-fr">
                <ul class="am-pagination">
                  <li class="am-disabled"><a href="#">?</a></li>
                  <li class="am-active"><a href="#">1</a></li>
                  <li><a href="#">2</a></li>
                  <li><a href="#">3</a></li>
                  <li><a href="#">4</a></li>
                  <li><a href="#">5</a></li>
                  <li><a href="#">?</a></li>
                </ul>
              </div>
            </div>
			
            <hr />
            <p>注：.....</p>
          </form>
        </div>

      </div>

	{(/html/part_html/foot.html)}
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/mycomment.js"></script>

<script>

	<!-- 跳转到奖金池操作界面 -->
  function opt_pool(){
	<!-- window.location.href="http://localhost/api/html/client_management/bonus_pool/bonus_pool_opt" -->
	window.location.href=bonus_pool_opt_path()
 }
	<!-- 新建一个页面，看上去和新增页面很像，然后将数据带过去，修改后通过ajax提交 -->
	 function edit_gift(obj){
	 var gift_id=obj.getElementsByTagName("input")[0].value 
		 <!-- window.location.href="http://localhost/api/html/client_management/gift/gift_edit?id_pk="+gift_id -->
		  window.location.href= gift_edit_path()+"?id_pk="+gift_id
	 }
 <!-- 删除对应的礼物 -->
	 function delete_gift(obj){
	 var gift_id=obj.getElementsByTagName("input")[0].value 
			$.ajax({
			type:"post", 
			<!-- url:"http://localhost/api/gift/delete_gifttype",  -->
			url:gift_delete_path(),
			 data:{
				"id_pk":gift_id,
				 },  
			cache:false,
			success:function(data,status){ 
				var dateJson = JSON.parse(data)	 
				 if(1==dateJson.code){ 
					 alert("删除成功！") 
					 window.location.reload();
				 }else{ 
					 alert("删除失败！")
				} 
			}
		 })
	 }

</script>
</body>
</html>
