<!doctype html>
<html class="no-js fixed-layout">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>德州扑克后台管理系统</title>
  <meta name="description" content="这是一个 index 页面">
  <meta name="keywords" content="index">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="renderer" content="webkit">
  <meta http-equiv="Cache-Control" content="no-siteapp" />
  <link rel="icon" type="image/png" href="/assets/i/favicon.png">
  <link rel="apple-touch-icon-precomposed" href="/assets/i/app-icon72x72@2x.png">
  <meta name="apple-mobile-web-app-title" content="Amaze UI" />
  <link rel="stylesheet" href="/assets/css/amazeui.min.css"/>
  <link rel="stylesheet" href="/assets/css/admin.css">
</head>
<body onload='initPageInfo({*anchor_index_pager.curr_page*},{*anchor_index_pager.max_page*},"pager_index")'>
<!--[if lte IE 9]>
<p class="browsehappy">你正在使用<strong>过时</strong>的浏览器，Amaze UI 暂不支持。 请 <a href="http://browsehappy.com/" target="_blank">升级浏览器</a>
  以获得更好的体验！</p>
<![endif]-->

	{(/html/part_html/header.html)}

<div class="am-cf admin-main">
  <!-- sidebar start -->
	{(/html/part_html/sidebar.html)}
  <!-- sidebar end -->

  <!-- content start -->
  <div class="admin-content">
    <div class="admin-content-body">
      <div class="am-cf am-padding">
        <div class="am-fl am-cf"><strong class="am-text-primary am-text-lg">客户端后台</strong> / <small>主播管理</small></div>
      </div>


       <div class="am-g">
        <div class="am-u-sm-12 am-u-md-6">
          <div class="am-btn-toolbar">
            <div class="am-btn-group am-btn-group-xs">
              <button type="button" class="am-btn am-btn-default" onclick="add_anchor()"><span class="am-icon-plus"></span> 新增</button>
            </div>
          </div>
        </div> 
		<div class="am-u-sm-12 am-u-md-3">
          <div class="am-input-group am-input-group-sm">
            <input type="text" class="am-form-field" placeholder="主播昵称" id="search_nikname_input">
          <span class="am-input-group-btn">
            <button class="am-btn am-btn-default" type="button" onclick="getSearch()">搜索</button>
          </span>
          </div>
        </div>
		<div class="am-u-sm-12 am-u-md-3">
          <div class="am-form-group">
            <select data-am-selected="{btnSize: 'sm'}" onchange="change_anchor_status()" id="anchor_status_select">
              <option value="option0">全部</option>
              <option value="option1">上线</option>
			  <option value="option2">下线</option>
            </select>
          </div>
        </div>
      </div>
	  
	<div class="am-g">
        <div class="am-u-sm-12">
          <form class="am-form">
            <table class="am-table am-table-striped am-table-hover table-main">
              <thead>
              <tr>
                <!-- <th class="table-check"><input type="checkbox" /></th> -->
				<th class="table-id">编号</th>
				<th class="table-id">头像</th>
				<th class="table-title">手机号</th>
				<th class="table-type">主播ID</th>
				<th class="table-author am-hide-sm-only">房间ID</th>
				<th class="table-date am-hide-sm-only">主播昵称</th>
				<th class="table-date am-hide-sm-only">直播时长</th>
				<th class="table-date am-hide-sm-only">抽成比例</th>
				<th class="table-date am-hide-sm-only">主播收礼价值</th>
				<th class="table-date am-hide-sm-only">状态</th>
				<th class="table-set">操作</th>
              </tr>
              </thead>
              <tbody>
				{% for k,v in pairs(anchor_index_data) do%}
				<tr id="{*v.id_pk*}"> 
					 <!-- <td><input type="checkbox" /></td>  -->
					 <td>{* k *}</input></td> 
					 <td background="{*v.head_icon*}"></td> 
					 <td>{*v.phone_number*}</td>  
					 <td>{*v.id_pk*}</td> 
					 <td>{*v.room_id*}</td> <!-- 房间id -->
					   <td>{*v.nickname*}</td>
					   <td>{*v.anchor_live_time*}</td>
					   <td>{*v.cut_ratio*}%</td>
					   <td><div class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="anchor_gift_list(this)">
							<input type="hidden" value="{*v.id_pk*}"></input><span class="am-icon-file"></span>
							明细
							</div>
							{*v.gift_vl*}
						</td>   <!-- 主播收礼价值 -->
					  <td class="am-hide-sm-only">
					  {% if v.anchor_status==0 then %}
						下线
					  {% elseif v.anchor_status==1 then %}
						上线
					  {% end %}
					  </td>  
					  <td>  
					    <div class="am-btn-toolbar">  
						  <div class="am-btn-group am-btn-group-xs">  
						    <div class="am-btn am-btn-default am-btn-xs am-text-secondary" onclick="edit_anchor(this)">
								<input type="hidden" value="{*v.id_pk*}"></input><span class="am-icon-pencil-square-o"></span> 
								编辑
							</div>  
						    <!-- <div class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" onclick="delete_anchor(this)"> -->
								<!-- <input type="hidden" value="{*v.id_pk*}"/><span class="am-icon-pencil-square-o"></span><span class="am-icon-trash-o"></span>  -->
								<!-- 删除 -->
							<!-- </div>   -->
						  </div>  
					    </div>  
					  </td>  
				    </tr>  
			   {% end %}
              </tbody>
            </table>
            <div class="am-cf" id="pager_index">
              <!-- 共 15 条记录 -->
              <!-- <div class="am-fr"> -->
                <!-- <ul class="am-pagination"> -->
                  <!-- <li class="am-disabled"><a href="#">?</a></li> -->
                  <!-- <li class="am-active"><a href="#">1</a></li> -->
                  <!-- <li><a href="#">2</a></li> -->
                  <!-- <li><a href="#">3</a></li> -->
                  <!-- <li><a href="#">4</a></li> -->
                  <!-- <li><a href="#">5</a></li> -->
                  <!-- <li><a href="#">?</a></li> -->
                <!-- </ul> -->
              <!-- </div> -->
            </div> 
			
            <hr />
            <p>注：.....</p>
          </form>
        </div>

      </div>

	{(/html/part_html/foot.html)}
  </div>
  <!-- content end -->

</div>

<a href="#" class="am-icon-btn am-icon-th-list am-show-sm-only admin-menu" data-am-offcanvas="{target: '#admin-offcanvas'}"></a>

<!--[if lt IE 9]>
<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="/assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="/assets/js/jquery-3.1.1.min.js"></script>
<!--<![endif]-->
<script src="/assets/js/amazeui.min.js"></script>
<script src="/assets/js/app.js"></script>
<script src="/assets/js/mypage.js"></script>
<script src="/assets/js/mycomment.js"></script>
<script>
	
	
	<!-- 跳转到添加主播界面 -->
  function add_anchor(){
	<!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_add" -->
	window.location.href=anchor_add_path()
 }
	<!-- 点击搜索框进行搜索 -->
	 function getSearch(){
		var search_word
		search_word=document.getElementById("search_nikname_input").value
		<!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_index?search="+search_word -->
		window.location.href=anchor_index_path()+"?search="+search_word
	 }
	 <!-- 改变主播状态的下拉框 -->
	 function change_anchor_status(){
		var anchor_stus
		var temp_stus=document.getElementById("anchor_status_select").value
		if("option0"==temp_stus){
			anchor_stus=""
		}else if("option1"==temp_stus){
			anchor_stus="1"
		}else{
			anchor_stus="0"
		}
		<!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_index?anchor_status="+anchor_stus -->
		window.location.href=anchor_index_path()+"?anchor_status="+anchor_stus
	 }
 
 	 <!-- 跳转到主播收礼明细页面 -->
	 function anchor_gift_list(obj){
	  var anchor_id=obj.getElementsByTagName("input")[0].value 
		 <!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_gift_list?id_pk="+anchor_id -->
		 window.location.href=anchor_gift_list_path()+"?id_pk="+anchor_id
	 }
	<!-- 新建一个页面，看上去和新增页面很像，然后将数据带过去，修改后通过ajax提交 -->
	 function edit_anchor(obj){
	 var anchor_id=obj.getElementsByTagName("input")[0].value 
		 <!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_edit?id_pk="+anchor_id -->
		 window.location.href=anchor_edit_path()+"?id_pk="+anchor_id
	 }
	 

 <!-- 删除对应的主播 -->
	 function delete_anchor(obj){
	 var anchor_id=obj.getElementsByTagName("input")[0].value 
			$.ajax({
			type:"post", 
			<!-- url:"http://localhost/api/anchor/delete_anchor",  -->
			url:anchor_delete_path(),
			 data:{ 
				"id_pk":anchor_id,
				 },  
			cache:false,
			success:function(data,status){ 
				var dateJson = JSON.parse(data)	 
				 if(1==dateJson.code){
					 alert("删除成功！") 
					 window.local.reload()
				 }else{ 
					 alert("删除失败！")
				} 
			}
		 })
	 }
	 
	<!-- 分页的函数 -->
	function beginPostTestResult(page){
	var max_page={* anchor_index_pager.max_page*}
		<!-- window.location.href="http://localhost/api/html/client_management/anchor/anchor_index?page="+page -->
		window.location.href=anchor_index_path()+"?page="+page
		initPageInfo(page,max_page,"pager_index");
	}
</script>
</body>
</html>
